
.header {
    background-image: url(./images/shutterstock_628764224.png);
    background-repeat: no-repeat;
    padding: 80px 0 275px 0;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0.9;
}

.header:before {
    content: "";
    background: url(./images/layer.png);
    width: 100%;
    opacity: 0.6;
    top: 60px;
    left: 0;
    bottom: 152px;
    right: 0;
    position: absolute;
    z-index: -1; 
  }

.navbar {
    padding: 0 85px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}


.main-monogram {
    display: none !important;
}

.center-monogram {
    margin-left: 50px;
}

.nav-item {
    margin-right: 30px;
}
.nav-link {
    cursor: pointer;
    color: black;
}
.nav-link:hover {
    color: #fff !important;
    background-color: rgba(128, 128, 128, 0.377) !important;
    border-top: 2px solid blue;
}
.header-section {
    padding: 0 44px;
}

.header-title {
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
}

.header-heading {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    line-height: 69px;
    font-size: 50px;
    padding-top: 20px;
}
.header-sub-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-top: 20px;
}

.header-button {
    position: relative;
    padding: 8px 40px !important;
    background-color: #1b1f66 !important;
    border: none;
    margin-bottom: 25px;
}

.right-arrow {
    top: 11px;
    position: absolute;
    left: 117px;
}

.right-banner {
    position: relative;
}

.right-banner-image {
    position: absolute;
    top: 189px;
    right: 108px;
    width: 90%;
}

.btn-banner {
    background-color: #0560a7 !important;
    padding: 20px 30px !important;
    border-radius: 0 !important;
    color: #fff !important;
    border-color: #0560a7 !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 45px !important;
    position: absolute;
    top: 484px;
    right: 477px;
}

.btn-group {
    position: absolute !important;
    left: 1027px;
    right: 523px;
    top: 857px;
    bottom: 0;
}

.btn-transparent {
    border-color: rgba(0, 0, 0, 0.158);
}

.btn-transparent:hover{
    color: rgba(255, 255, 0, 0.719) !important;
    border-color: rgba(220, 220, 220, 0) !important;
}

.button-border {
    border-right: 1px solid #fff !important;
}

.grid-section {
    padding: 100px 50px 50px 50px;
}



.grid-images {
    width: 100%;
    height: 100%;
    position: relative;
}


.grid-five {
    width: 100%;
    height: 100%;
}

.first-gridrow {
    margin-bottom: 23px;
}

.grid-image-text {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #fff;
}

.grid-image-text {
    position: relative;
    color: #fff;
    bottom: 83px;
    left: 20px;
}


.popular-title {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black !important;
}

.popular-hr-left {
    width: 3%;
    height: 2px !important;
    position: relative;
    left: 424px;
    top: 30px;
    color: black !important;
}

.popular-hr-right {
    width: 3%;
    height: 2px !important;
    position: relative;
    left: 835px;
    right: 0;
    bottom: 27px;
    color: black !important;
}

.popular-heading {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    padding-bottom: 50px;
}

.product-overlay {
    position: absolute;
    top: 259px !important;
    right: 0;
    bottom: 0;
    left: 11px !important;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}


.footer-heading {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

#footer-text {
    color: gray !important;
    font-size: 12px;
}

#footer-text:hover {
    color: #748a53 !important;
}

.footer-copywrite {
    font-size: 14px;
    color: gray !important;
    margin-left: 20px;
}

.footer-copywrite-b {
    color: gray !important;
    margin: 0 20px 0 110px;
}

#footer-icon {
    color: gray !important;
    font-size: 22px;
    margin-right: 30px;
}

#footer-icon-b {
    color: gray !important;
    margin-right: 22px;
}
#footer-icon-b:hover {
    color: #748a53 !important;
}

.copywright-bar {
    display: flex;
}

.option-button {
    left: 261px;
    right: 0;
    position: absolute;
}


.button-hover {
    display: none;
    cursor: pointer;
    background-color: #fff !important;
    border-color: #fff !important;
}
.button-hover:hover {
    display: block !important;
    background-color: rgba(190, 190, 190, 0.938) !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 18px 12px !important;
}

.button-hover-b {
    display: none;
    cursor: pointer;
    background-color: #f4f4f4 !important;
    border-color: #f4f4f4 !important;
}
.button-hover-b:hover {
    display: block !important;
    background-color: rgba(190, 190, 190, 0.938) !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 18px 12px !important;
}


.discovery {
    background-image: url(./images/discovery.png);
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
}

.discovery-heading {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    padding: 150px 0 0 0;
    text-align: center;
    line-height: 71px;
}

.discovery-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}

.discovery-button {
    margin-bottom: 50px;
}

.deal-hr-left {
    width: 3%;
    height: 2px !important;
    position: relative;
    left: 490px;
    top: 30px;
    color: black !important;
}

.deal-hr-right {
    width: 3%;
    height: 2px !important;
    position: relative;
    left: 770px;
    right: 0;
    bottom: 27px;
    color: black !important;
}

.deal-price {
    color: #6fc446;
}
.icon-star-o {
    color: #e0d111;
    margin-left: -4px;
    float: right;
}

.deal-overlay {
    position: absolute;
    top: 259px !important;
    right: 0;
    bottom: 0;
    left: 11px !important;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}





















/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1300px ) {

    .main-monogram {
        display: none !important;
    }

    .header {
        padding: 80px 0px 185px;
    }
    .right-banner-image {
        position: absolute;
        top: 219px;
        right: 129px;
        width: 90%;
    }

    .btn-banner {
        position: absolute;
        top: 455px;
        right: 444px;
    }
    .btn-group {
        position: absolute !important;
        left: 825px;
        right: 519px;
        top: 840px;
        bottom: 0;
    }

    .popular-hr-left {
        left: 337px;
        top: 30px;
    }
    
    .popular-hr-right {
        left: 748px;
        right: 0;
        bottom: 27px;
    }

    .option-button {
        left: 218px;
        right: 0;
        position: absolute;
    }

    .button-hover:hover {
        padding: 18px 8px !important;
    }

    .button-hover-b:hover {
        padding: 18px 8px !important;
    }

    .deal-overlay {
        position: absolute;
        top: 201px !important;
        right: 0;
        bottom: 0;
        left: 11px !important;
    }

    .product-overlay {
        top: 236px !important;
        right: 0;
        bottom: 0;
        left: 11px !important;
    }

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1200px) {
    .main-monogram {
        display: block !important;
    }
    .center-monogram {
        display: none;
    }

    .header {
        padding: 80px 0px 185px;
    }
    .right-banner-image {
        position: absolute;
        top: 321px;
        right: 114px;
        width: 90%;
    }

    .btn-banner {
        position: absolute;
        top: 496px;
        right: 375px;
    }
    
    .btn-group {
        position: absolute !important;
        left: 630px;
        right: 519px;
        top: 770px;
        bottom: 0;
    }

    .popular-hr-left {
        left: 253px;
        top: 30px;
    }
    
    .popular-hr-right {
        left: 657px;
        right: 0;
        bottom: 27px;
    }
    .option-button {
        left: 171px;
        right: 0;
        position: absolute;
    }

    .button-hover-b:hover {
        padding: 18px 8px !important;
    }
    .deal-overlay {
        position: absolute;
        top: 163px !important;
        right: 0;
        bottom: 0;
        left: 0px !important;
        font-size: 16px;
    }

    .product-overlay {
        position: absolute;
        top: 186px !important;
        right: 0;
        bottom: 0;
        left: 11px !important;
        padding: 1rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }
  
}



                                            /* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 992px) {

    .main-monogram {
        display: block !important;
    }
    .center-monogram {
        display: none;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row !important;
    }

    .header {
        padding: 47px 0px 100px;
    }
    .header-heading {
        font-size: 40px;
    }
    .right-banner-image {
        position: absolute;
        top: 269px;
        right: 59px;
        width: 100%;
    }

    .btn-banner {
        position: absolute;
        top: 421px;
        right: 299px;
    }
    
    .btn-group {
        position: absolute !important;
        left: 518px;
        right: 509px;
        top: 758px;
        bottom: 0;
    }
    .header-section {
        padding: 0 0px;
    }

    .popular-hr-left {
        left: 140px;
        top: 30px;
    }
    
    .popular-hr-right {
        left: 536px;
        right: 0;
        bottom: 27px;
    }

    .option-button {
        left: 111px;
        right: 0;
        position: absolute;
    }

    .button-hover-b:hover {
        padding: 18px 5px !important;
    }

    .deal-hr-right {
        position: relative;
        left: 489px;
        right: 0;
        bottom: 27px;
    }

    .deal-hr-left {
        position: relative;
        left: 185px;
        top: 30px;
    }

    .deal-overlay {
        position: absolute;
        top: 116px !important;
        right: 0;
        bottom: 0;
        left: 0px !important;
        font-size: 12px;
    }

    .product-overlay {
        position: absolute;
        top: 136px !important;
        right: 0;
        bottom: 0;
        left: 11px !important;
        padding: 1rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 11px;
    }

      
}

                                    /* Landscape phones and portrait tablets */

@media (min-width: 480px) and (max-width: 768px) {
    .main-monogram {
        display: block !important;
    }
    .center-monogram {
        display: none;
    }
    .navbar {
        padding: 0 18px;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row !important;
        justify-content: center;
    }

    .header {
        padding: 47px 0px 100px;
    }
    .header-heading {
        font-size: 26px;
        line-height: 33px;
        padding-top: 1px;
    }
    .right-banner-image {
        position: absolute;
        top: 242px;
        right: 20px;
        width: 100%;
    }

    .btn-banner {
        position: absolute;
        top: 332px;
        right: 180px;
        padding: 8px 20px !important;
    }
    
    .btn-group {
        position: absolute !important;
        left: 327px;
        right: 509px;
        top: 639px;
        bottom: 0;
    }
    .header-section {
        padding: 0 0px;
    }

    .popular-hr-left {
        left: 32px;
        top: 30px;
    }
    
    .popular-hr-right {
        left: 416px;
        right: 0;
        bottom: 27px;
    }

    .copywright-bar {
        display: flex;
        flex-direction: column;
    }

    .footer-copywrite-b {
        color: gray !important;
        margin: 0 !important;
    }

    .deal-hr-right {
        position: relative;
        left: 366px;
        right: 0;
        bottom: 27px;
    }

    .deal-hr-left {
        position: relative;
        left: 128px;
        top: 30px;
    }

    .deal-overlay {
        position: absolute;
        top: 397px !important;
        right: 0;
        bottom: 0;
        left: 0px !important;
        font-size: 20px;
    }

    .product-overlay {
        position: absolute;
        top: 400px !important;
        right: 0;
        bottom: 0;
        left: 11px !important;
        padding: 1rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 20px;
    }



}

                                        /* Landscape phones and smaller */
@media (max-width: 480px) {
    .main-monogram {
        display: block !important;
    }
    .center-monogram {
        display: none;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row !important;
        justify-content: center;
        font-size: 14px;
    }

    .navbar {
        padding: 0 18px;
    }

    .header {
        padding: 47px 0px 100px;
    }
    .header-heading {
        font-size: 26px;
        line-height: 33px;
        padding-top: 1px;
    }
    .right-banner-image {
        display: none;
    }

    .btn-banner {
       display: none;
    }
    
    .btn-group {
        position: absolute !important;
        left: 132px;
        top: 647px;
        bottom: 0;
    }
    .header-section {
        padding: 0 0px;
    }

    .grid-section {
        padding: 57px 8px 20px 8px;
    }

    .grid-one {
        margin-bottom: 10px !important;
    }

    .grid-image-text {
        font-size: 15px;
    }

    .popular-hr-left {
        display: none;
    }
    
    .popular-hr-right {
        display: none;
    }

    .card-img-overlay {
        position: absolute;
        top: 343px !important;
        right: 0;
        bottom: 0;
        left: 11px !important;
    }

    .copywright-bar {
        display: flex;
        flex-direction: column;
    }

    .footer-copywrite-b {
        color: gray !important;
        margin: 0 !important;
    }

    .footer-copywrite {
        margin-left: 0 !important;
        margin-right: 12px;
    }

    #footer-icon {
        font-size: 16px;
        margin-right: 14px;
    }

    .option-button {
        left: 285px;
        right: 0;
        position: absolute;
    }

    .discovery-heading {
        padding: 0 !important;
    }

    .deal-hr-right {
        position: relative;
        left: 286px;
        right: 0;
        bottom: 27px;
    }

    .deal-hr-left {
        position: relative;
        left: 46px;
        top: 30px;
    }

    .deal-overlay {
        position: absolute;
        top: 321px !important;
        right: 0;
        bottom: 0;
        left: 0px !important;
        font-size: 18px;
    
    }


}
}